a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration,input[type=search]::-webkit-search-results-button,input[type=search]::-webkit-search-results-decoration{-webkit-appearance:none;-moz-appearance:none}input[type=search]{-webkit-appearance:none;-moz-appearance:none;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}textarea{overflow:auto;vertical-align:top;resize:vertical}audio,canvas,video{display:inline-block;max-width:100%}audio:not([controls]){display:none;height:0}[hidden]{display:none}html{font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}a:focus{outline:thin dotted}a:active,a:hover{outline:0}img{border:0;-ms-interpolation-mode:bicubic}figure{margin:0}form{margin:0}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0;white-space:normal}button,input,select,textarea{font-size:100%;margin:0;vertical-align:baseline}button,input{line-height:normal}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}textarea{overflow:auto;vertical-align:top}table{border-collapse:collapse;border-spacing:0}button,html,input,select,textarea{color:#222}::-moz-selection{background:#b3d4fc;text-shadow:none}::selection{background:#b3d4fc;text-shadow:none}img{vertical-align:middle}fieldset{border:0;margin:0;padding:0}textarea{resize:vertical}.chromeframe{margin:.2em 0;background:#ccc;color:#000;padding:.2em 0}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) { position: absolute; width: 1px; height: 1px; margin: -1px;border: 0;padding: 0;white-space: nowrap;clip-path: inset(100%);clip: rect(0 0 0 0);overflow: hidden;}


:root {
    --blue: #a7cdf3;
    --white: #ffffff;
    --pink: #bba0b2;
    --font1: 'Poppins', sans-serif;

}

html{
	font-size: 62.5%;
	
}

body{ 
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    color:black;
    font-size: 2.5rem;
    font-family: var(--font1);
}



.section {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('img/world.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
    margin: 0;
    padding: 0;
    
}


#video-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0; 
    
}

video {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    object-fit: cover;
    top: 0;
    left: 0;
}

.active {
    display: block;
}


.container {
    width: 100%;
    margin: 50px auto;
    padding:0;
    z-index: 1;
}


.row {
    width: 50%;
    margin: 0 auto;
    padding: 30px 0;
    border-radius: 50px;
    background-image: linear-gradient(to right, rgba(255,255,255,0.5), rgba(255,255,255,0.5));

}

.w-box {
    text-align: center;
    margin: 0 auto;
    line-height: 50px;
}



h1 {
    font-size: 5.5rem;
    font-weight: 400;
    margin: 30px 0 60px 0;
}

h2 {
    font-size: 4rem;
    font-weight: 300;
}

h3 {
    font-size: 3.8rem;
    font-weight: 300;
    margin: 20px 0;
}


h5 {
    font-size: 3.5rem;
    font-weight: 400;
    margin: 40px 0;
}


.btn {
    background-color: var(--blue);
    border: none;
    border-radius: 5px;
    padding: 15px;
    margin-top: 50px;
}

.capitalize {
    text-transform: capitalize;
}


.shadow-inset-center:hover {
    background-color: var(--blue);
	-webkit-animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: shadow-inset-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-4-28 14:48:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-inset-center
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
  @keyframes shadow-inset-center {
    0% {
      -webkit-box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: inset 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
              box-shadow: inset 0 0 14px 0px rgba(0, 0, 0, 0.5);
    }
  }
  


#modal{
    position: relative;
    display: none;
    
}

.modal-content {
    margin: 0 auto;
    text-align: center;
    /* width:70%; */

}


label {
    display: none;
}

input {
    border: none;
    padding: 10px;
    margin: 15px auto;
    width: 70%;
}

input:focus{
    border: 2px solid var(--blue);
}


input::placeholder{
    padding: 5px;
    letter-spacing: 1px;;
    
}

.close {
    position: absolute;
    top: 25px;
    right: 22px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;

}



/* Media Queries */

@media screen and (max-width: 1360px) {
    h1 {
        font-size: 4.5rem;
        margin: 20px 0 30px 0;
    }

    h2 {
        font-size: 3.8rem;
    }
    
    h3 {
        font-size: 3.5rem;
        margin: 10px 0;
    }
    
    
    h5 {
        font-size: 3rem;
        margin: 20px 0;
    }

} 

@media screen and (max-width: 800px) {

    .row {
        width: 55%;

    }
    h1 {
        font-size: 4rem;
        margin: 20px 0 30px 0;
    }
    
    h3 {
        font-size: 3.2rem;
    }

    h5 {
        font-size: 2rem;

    }

    .btn {
        padding: 10px;
        margin-top: 40px;
        font-size: 2rem;
    }

    li {
        font-size: 2.5rem;
    }
    
}

@media screen and (max-width: 600px) {

    .row {
        width: 100%;
        height: 100vh;
        border-radius: 0;
        
    }

    .btn {
        padding: 10px;
        margin-top: 20px;
    }

}

@media screen and (max-width: 400px) {
    html {
        font-size: 50%;
    }
}